{% extends 'base.jinja' %}

{% block content %}
<style>
    body {
        font-family: 'Arial', sans-serif;
        background-color: #f0f0f0; /* Light gray background */
        color: #333;
    }
    h1 {
        text-align: center;
        color: #E60012; /* Nintendo red */
    }
    p {
        text-align: center;
        font-size: 18px;
        margin-top: 20px;
    }
    a {
        color: #0057B8; /* Nintendo blue */
        text-decoration: none;
        font-weight: bold;
    }
    a:hover {
        color: #ff6347; /* Tomato */
        text-decoration: underline;
    }
</style>

<h1>You can find a better chatroom than this</h1>
<p><a href={{ url_for('signup') }}>Sign Up</a></p>
<p><a href={{ url_for('login') }}>Login</a></p>

{% endblock %}
